project.xcworkspace
xcshareddata
xcuserdata
__pycache__

Pods
Podfile.lock
.idea


/19年8月27日 MNN转模型调试工具/MNN
/20年5月17日 AI_Class/1_MNIST
/20年5月17日 AI_Class/2_Dataset/someTrainImages
/20年5月17日 AI_Class/2_Dataset/someTestImages
/20年5月17日 AI_Class/5_Training/Milestone
/20年5月17日 AI_Class/6_ModelTrans/model.onnx
/22年3月3日 BK爬虫/output_BK

